<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Cocktails</h1>
      <%= link_to "Add a new cocktail", new_cocktail_path %>
      <% @cocktails.each do |cocktail| %>
        <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
        <p><%= link_to "Edit this cocktail", edit_cocktail_path(cocktail) %> |
        <%= link_to "Delete this cocktail", cocktail_path(cocktail), method: :delete %></p>
      <% end %>
    </div>
  </div>
</div>

