<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <% @cocktails.each do |cocktail| %>
        <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
        <p><%= link_to "Edit", edit_cocktail_path(cocktail) %> |
        <%= link_to "Delete", cocktail_path(cocktail), method: :delete %></p>
      <% end %>
    </div>
  </div>
</div>

