// Your footer style
body {
  margin-bottom: 70px;
}

.footer-mister {
  background: #F4F4F4;
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-around;
  i {
    padding: 0 10px 0 10px;
    opacity: 0.7;
  };
  p {
    font-size: 15px;
    opacity: 0.7;
  }
}

.social-icons {
  display: flex;
}


